[user]
	name = ChromaMaster
	email = vladtel.dev@gmail.com
[init]
	defaultBranch = main
	templateDir = ~/.git-template
[commit]
	# By default sign the commits, same as doing git commit -S
	gpgSign = true
	template = ~/.gitmessage
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
	# Use a global gitignore file
	excludesfile = ~/.gitignore
[format]
	# Add a signature to the commit, same as doing git commit -s
	# Signoff example:
	# 	Signed-off-by: Humpty Dumpty <humpty.dumpty@example.com>
	signoff = true
[alias]
	s = status -s
	ap = add --patch
	d = diff
	nd = !git --no-pager diff
	ds = diff --staged
	nds = !git --no-pager diff --staged
	l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -10
	amend = commit --amend
	pullh = !git pull -- origin $(git branch --show-current)
	ltag = describe --tags --abbrev=0
	pushf = push --force-with-lease
	alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | sort
    chash = rev-parse --short HEAD
    chashl = rev-parse HEAD
    rs = restore --staged
	uncommit = reset --soft HEAD~1
	rv = remote -v
	fixup = !git commit --fixup $(git rev-parse HEAD)
	yolo = !git commit -m \"$(curl -s https://whatthecommit.com/index.txt)\"
[push]
	default = current
[pull]
	rebase = true
[fetch]
	prune = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[includeIf "gitdir:~/Workspace/Work/"]
	path = ~/Workspace/Work/.gitconfig-work
[includeIf "gitdir:~/Workspace/Personal/"]
	path = ~/Workspace/Personal/.gitconfig-personal

